{% extends "djangoapp/base.html" %}
{% load static %}
{% block title %}Add Review{% endblock %}
{% block content %}
    <div class="d-flex flex-wrap p-5 align-content-center" style="background-image: url({% static 'images/Signup_Form.jpeg' %}); background-repeat: no-repeat; background-size: cover; height: 500px; background-position: center center; aspect-ratio 16 / 9;"> 
        <div class="shadow p-3 header-background">
            <h1 class="display-1 text-black">Write a review</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center p-3">
        <div class="border border-dark p-3 shadow-lg" style="border-radius: 16px;">
            <h1 class='h' style="font-weight:bold;">Review for ...:</h1>
            <form action="{% url 'djangoapp:registration' %}" method="POST">
                <div class="form-row">
                    <label for="username">Tell us about your experience:</label>
                    <textarea class = "form-control" id="content" name="content" rows="2" required></textarea>
                </div>
                <div class="form-row">
                    <label for="email">Did you make a purchase?:</label>
                        <input type="checkbox" class="form-check-input" name="purchasecheck" id="purchasecheck">
                </div>
                <div class="form-row border p-1 border-left-0 border-right-0">
                    <label for="first_name">Which Vehicle did you purchase?:</label>
                    <select name = "car" id="car" class = "form-select" required>
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.nake}}-{{car.year|date:"Y"}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group pt-3">
                    <label for="psw">What was the purchase date?:</label>
                    <input type="date" name="purchasedate" id="purchasedate" required>
                </div>
                <button type="submit" class="btn btn-primary" id="submitButton" disabled = true>Submit review</button>
            </form>
        </div>
    </div>
{% endblock %}