{% extends "djangoapp/base.html" %}
{% load static %}
{% block title %}Dealer Details{% endblock %}
{% block additionalstyles %}
.button{
    background-color: var(--accClr3);
    border: 2px solid var(--accClr3);
    color: white;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover{
    background-color: white; 
    color: var(--accClr3);
    border: 2px solid var(--accClr3);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0), 0 6px 20px 0 rgba(0,0,0,0);
}
{% endblock %}
{% block addreview %}
    <a href="{% url 'djangoapp:add_review' dealer_id %}" class="btn btn-outline-light ml-1">Add review</a>
{% endblock %}
{% block content %}
    <div class="d-flex flex-wrap p-5 align-items-center justify-content-center" style="background-image: url({{MEDIA_URL}}/banners/Details.jpeg); background-repeat: no-repeat; background-size: cover; height: 500px; background-position: center center; aspect-ratio 16 / 9;"> 
        <div class="shadow p-3 header-background">
            <h1 class="display-3 text-black">Dealer Reviews</h1>
        </div>
    </div>
    <div class="p-2">
        {% if number_of_reviews > 0 %}
            <h1 class="display-4">Reviews for {{dealername}}:</h1>
            {% if average_sentiment == 'Positive' %}
            <h3 class='h'> Reviews here are mostly <span style="color:#00B050;">{{average_sentiment}}</span>.</h3>
            {% elif average_sentiment == 'Neutral' %}
            <h3 class='h'> Reviews here are mostly <span style="color:#FFC000;">{{average_sentiment}}</span>.</h3>
            {% elif average_sentiment == 'Negative' %}
            <h3 class='h'> Reviews here are mostly <span style="color:#C00000;">{{average_sentiment}}</span>.</h3>
            {% endif %}
            <div class="card-columns">
            {% for review in reviews %}
                <div class="card">
                    {% if review.sentiment == "positive" %}
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" style="aspect-ratio:1/1; width:50px;">
                    {% elif review.sentiment == "negative" %}
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" style="aspect-ratio:1/1; width:50px;">
                    {% else %}
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" style="aspect-ratio:1/1; width:50px;">
                    {% endif %}
                        <p class="card-text">{{review.review}}</p>
                    {% if review.purchase %}
                    <div class="card_body">
                        <h5 class="card-title" style='color: var(--accClr3);'>{{review.car_year}}, {{review.car_make}}, {{review.car_model}}</h5>
                    </div>
                    {% else %}
                    <div class="card_body">
                        <p class="card-text">*no purchase*</p>
                    </div>
                    {% endif %}       
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h1 class="display-4"> There have been no reviews posted yet for {{dealername}}.</h>
            <form action="{% url 'djangoapp:add_review' dealer_id %}" class="m-4" style="text-align: center;"><h5><button type="submit" class="button" href="{% url 'djangoapp:add_review' dealer_id %}">Be the first to post a review!</button></h5></form>
        {% endif %}
    </div>
{% endblock %}